<div class="footer text-center space-y-3 py-8">
    <div class="footer-nav text-sm">
        <div><a href="/">道盒首页</a></div>
        <div><a href="/site/">道盒静态博客</a></div>
        <div><a href="/about/">关于道盒</a></div>
        <div><a href="/about/#contact">联系我们</a></div>
    </div>
    <div class="!text-gray-500 text-xs">
        <a href="https://www.liveio.cn/" target="_blank" class="!text-gray-500">关于毓知信息</a>
        <a href="https://beian.miit.gov.cn/" target="_blank" class="!text-gray-500">鄂ICP备2022013249</a>
    </div>
</div>